.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100px 1fr 50px;
  grid-template-areas: 
    "header header"
    "haiku controls"
    "footer footer";
  grid-gap: 10px;
  color: white;
}

.header {
  grid-area: header;
  font-size: calc(10px + 2vmin);
  justify-self: center;
  align-self: center;
}

.haiku {
  grid-area: haiku;
  justify-self: center;
  align-self: center;
}

.controls {
  grid-area: controls;
  justify-self: center;
  align-self: center;
}

.footer {
  grid-area: footer;
  justify-self: center;
  align-self: center;
}